{% extends "base.html" %}
{% block title %}About
{% endblock title %}
{% block body %}
<div class="container">
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Team <span class="text-body-secondary"></span></h2>
            <p class="lead">CapsLock Solutions is maintained by a small team of developers on GitHub. We’re actively looking
                to grow this team and would love to hear from you if you’re excited about CSS at scale, writing and
                maintaining vanilla JavaScript plugins, and improving build tooling processes for frontend code.</p>
        </div>
        <div class="col-md-5 my-4">
            <img src="/static/img/ab2.jpeg" class="img-fluid" alt="" class="src">
            </svg>
        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">History <span class="text-body-secondary"></span></h2>
            <p class="lead">CapsLock Solutions was founded in 2020 by a group of passionate technology enthusiasts who
                wanted to create a platform that would bridge the gap between tech-savvy individuals and the vast
                realm of technology. With a shared vision of making complex concepts accessible to everyone, our
                team embarked on a journey to deliver high-quality, engaging, and informative content.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/static/img/ab2.jpeg" class="img-fluid" alt="" class="src">
            </svg>
        </div>
    </div>
    <div class="row featurette d-flex justify-content-center align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Vision<span class="text-body-secondary"></span></h2>
            <p class="lead">At CapsLock Solutions, our vision is to empower individuals with the knowledge and understanding
                to navigate and embrace the rapidly evolving world of technology. We believe that technology is not
                just a tool but a transformative force that shapes our present and future. Our blog is driven by a
                passion for exploring the endless possibilities that technology offers and the positive impact it
                can have on society.

            </p>
        </div>
        <div class="col-md-5 my-4">
            <img src="/static/img/ab3.jpeg" class="img-fluid" alt="" class="src">
            </svg>
        </div>
    </div>

</div>
{% endblock body %}